@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Work Sans", sans-serif;
  line-height: 1.3;
  font-size: 16px;
  font-weight: 400;
  color: #314584;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  transition: color 0.4s ease;
}

a:hover {
  text-decoration: none;
}

button,
input,
textarea {
  font-family: inherit;
}

img {
  object-fit: cover;
  display: block;
}

.py {
  padding: 50px 0;
}

@media (max-width: 768px) {
  .py {
    padding: 30px 0;
  }
}

.container {
  width: 100%;
  max-width: 1110px;
  margin: 0 auto;
}

h1 {
  font-size: 4.5rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.9rem;
}

h5 {
  font-size: 1rem;
}

p,
a {
  font-size: 1.1rem;
  font-weight: 400;
}

a {
  font-weight: 600;
}

a:hover {
  color: #ff3946;
}

.btn {
  display: inline-block;
  padding: 1em 2.5em;
  border: 2px solid #ff3946;
  border-radius: 2em;
  color: #ffffff;
  background-color: #ff3946;
  transition: background-color 0.4s ease, color 0s;
}

.btn:hover {
  background-color: #ffffff;
  color: #314584;
}

.box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  box-shadow: 0 10px 20px 0px rgba(28, 31, 33, 0.15);
  padding: 40px 45px;
  background-color: #ffffff;
}

/**************
HEADER
**************/
header {
  position: relative;
}

header nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 60px;
}

header nav .brand {
  max-height: 30px;
}

header nav .menu {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

header nav .menu ul li {
  display: inline-block;
  margin-right: 20px;
}

header nav .menu ul li:last-child {
  margin-right: 0;
}

header nav .menu ul li:hover {
  color: #ff3946;
}

header nav .menu .lang::after {
  content: "\f0d7";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-left: 10px;
}

header nav .contact-btn a {
  background-color: #ffffff;
  padding: 20px 55px;
  box-shadow: 0 10px 20px 0px rgba(28, 31, 33, 0.15);
  color: #ff3946;
}

header nav .contact-btn a:hover {
  color: #314584;
}

header nav a {
  font-weight: 700;
  font-size: 1.1rem;
}

header article {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  min-height: 100vh;
}

header article p {
  margin: 30px 0;
  color: #6e757a;
  line-height: 1.8;
}

header article .btn {
  margin-right: 30px;
}

header > img {
  z-index: -1;
  position: absolute;
  right: 0;
  top: 0;
}

/*************
ABOUT
*************/
.about {
  position: relative;
  overflow: hidden;
}

.about aside {
  z-index: -1;
  position: absolute;
}

.about aside img {
  height: 100%;
}

.about aside.left {
  left: -20px;
  bottom: 0;
  top: 0;
}

.about aside.right {
  right: -20px;
  top: 20%;
  bottom: 0;
  height: 100%;
}

.about .container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

.about .container:first-of-type > div {
  flex: 0 0 31%;
}

.about .container:first-of-type > div.box div {
  flex: 1;
}

.about .container:first-of-type > div h3 {
  margin: 30px 0;
}

.about .container:first-of-type .btn {
  font-size: 0.9rem;
  margin-top: 15px;
}

.about .container:last-of-type div {
  flex: 0 0 48%;
}

.about .container:last-of-type img {
  width: 100%;
}

.about .container:last-of-type p {
  line-height: 1.8;
}

.about .container h2 {
  margin-bottom: 25px;
}

.about .container h5 {
  color: #ff3946;
}

/*************
PORTFOLIO
*************/
.portfolio {
  background-image: url(../img/portfolio-side-bg.svg);
  background-repeat: no-repeat;
  background-position: left 100px;
}

.portfolio .row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  margin-bottom: 30px;
  text-align: center;
}

.portfolio .row.hiden {
  display: none;
}

.portfolio .row .wrapper {
  flex: 0 0 350px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.portfolio .row .wrapper::before {
  content: "";
  position: absolute;
  background-color: rgba(49, 69, 132, 0.8);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  height: 500px;
  width: 500px;
  border-radius: 50%;
  transition: transform 0.4s ease-in;
}

.portfolio .row .wrapper p {
  position: absolute;
  color: #ffffff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 200%);
  opacity: 0;
  transition: transform 0.4s ease;
  transition: opacity 0.2s ease-in, transform 0.2s ease-in;
}

.portfolio .row .wrapper:hover::before {
  transform: translate(-50%, -50%) scale(1);
}

.portfolio .row .wrapper:hover p {
  transform: translate(-50%, -50%);
  transition-delay: 0.2s;
  opacity: 1;
}

.portfolio .row > p {
  color: #ff3946;
  margin: 0 auto;
  transition: color 0.4s ease;
  cursor: pointer;
  font-weight: 600;
}

.portfolio .row > p:hover {
  color: #314584;
}

.portfolio .row img {
  width: 100%;
  height: 100%;
}

/**************
BLOG
**************/
.blog .item {
  background-color: #fff;
  min-height: 330px;
  box-shadow: 0px 3px 7px 0px rgba(28, 31, 33, 0.15);
}
/*# sourceMappingURL=style.css.map */