@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Work Sans", sans-serif;
  line-height: 1.3;
  font-size: 16px;
  font-weight: 400;
  color: #314584;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  transition: color 0.4s ease;
}

a:hover {
  text-decoration: none;
}

button,
input,
textarea {
  font-family: inherit;
  border: none;
  outline: none;
}

img {
  object-fit: cover;
  display: block;
}

.py {
  padding: 50px 0;
}

@media (max-width: 768px) {
  .py {
    padding: 30px 0;
  }
}

.container {
  width: 100%;
  max-width: 1110px;
  margin: 0 auto;
}

@media (max-width: 1150px) {
  .container {
    width: 95%;
  }
}

h1 {
  font-size: 4.5rem;
  text-shadow: 0 0 2px #ffffff;
}

@media (max-width: 920px) {
  h1 {
    font-size: 3.5rem;
    text-align: center;
  }
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.9rem;
}

h5 {
  font-size: 1rem;
  color: #ff3946;
  text-transform: uppercase;
  margin-bottom: 10px;
}

h6 {
  font-size: 1rem;
}

p,
a {
  font-size: 1.1rem;
  font-weight: 400;
}

a {
  font-weight: 600;
}

a:hover {
  color: #ff3946;
}

.btn {
  display: inline-block;
  padding: 1em 2.5em;
  border: 2px solid #ff3946;
  border-radius: 2em;
  color: #ffffff;
  background-color: #ff3946;
  transition: background-color 0.4s ease, color 0s;
}

.btn:hover {
  background-color: #ffffff;
  color: #314584;
}

.box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  box-shadow: 0px 0px 5px 0px rgba(28, 31, 33, 0.2);
  padding: 40px 45px;
  background-color: #ffffff;
}

aside {
  z-index: -1;
  position: absolute;
}

aside img {
  height: 100%;
}

aside.left {
  left: -20px;
  bottom: 0;
  top: 0;
}

aside.right {
  right: 0px;
  top: 20%;
  bottom: 0;
  height: 100%;
}

/**************
HEADER
**************/
header {
  position: relative;
}

header nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 60px;
}

header nav .brand {
  max-height: 30px;
}

@media (max-width: 920px) {
  header nav .brand {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}

header nav .menu {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

@media (max-width: 920px) {
  header nav .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: #ffffff;
    background-color: rgba(49, 69, 132, 0.9);
    min-height: 100vh;
    transform-origin: right top;
    transition: transform 0.4s ease;
    transform: scale(0) rotate(90deg);
    z-index: 1;
  }
}

header nav .menu.active {
  transform: scale(1) rotate(0deg);
}

@media (max-width: 920px) {
  header nav .menu ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}

header nav .menu ul li {
  display: inline-block;
  margin-right: 20px;
}

@media (max-width: 920px) {
  header nav .menu ul li {
    margin-right: 0px;
  }
}

@media (max-width: 920px) {
  header nav .menu ul li a {
    line-height: 2;
    font-size: 2rem;
  }
}

header nav .menu ul li:last-child {
  margin-right: 0;
}

header nav .menu ul li:hover {
  color: #ff3946;
}

header nav .menu ul.active {
  transform: scale(1, 1);
}

header nav .menu .lang::after {
  content: "\f0d7";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-left: 10px;
}

@media (max-width: 920px) {
  header nav .menu .lang::after {
    content: "\f0da";
  }
}

header nav .menu .drop {
  position: relative;
}

header nav .menu .drop:hover ul {
  transform: scale(1, 1) translate(-50%, 0);
}

header nav .menu .drop ul {
  transform: scale(1, 0);
  transition: transform 0.4s ease;
  transform-origin: center top;
  position: absolute;
  background-color: #314584;
  color: #ffffff;
  width: 150px;
  right: 0;
  border-radius: 5px;
}

@media (max-width: 920px) {
  header nav .menu .drop ul {
    display: block;
    position: absolute;
    transform-origin: left center;
    left: 50%;
    transform: scale(0, 1) translate(-50%, 0);
  }
}

header nav .menu .drop ul li {
  display: block;
  padding: 10px 15px;
  text-align: center;
  margin: 0;
}

@media (max-width: 920px) {
  header nav .menu .drop ul li {
    display: inline-block;
  }
}

@media (max-width: 920px) {
  header nav .contact-btn {
    display: none;
  }
}

header nav .contact-btn a {
  background-color: #ffffff;
  padding: 20px 55px;
  box-shadow: 0px 0px 5px 0px rgba(28, 31, 33, 0.2);
  color: #ff3946;
}

header nav .contact-btn a:hover {
  color: #314584;
}

header nav a {
  font-weight: 700;
  font-size: 1.1rem;
}

header nav .menuBtn {
  height: 30px;
  width: 30px;
  align-self: center;
  font-size: 1.8rem;
  background: transparent;
  color: #314584;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.4s ease, color 0.4s ease;
  display: none;
  z-index: 5;
}

@media (max-width: 920px) {
  header nav .menuBtn {
    display: block;
  }
}

header nav .menuBtn:hover {
  color: #ff3946;
}

header nav .menuBtn.active {
  position: fixed;
  right: 2.5%;
  color: #ff3946;
}

header article {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  min-height: 100vh;
}

header article p {
  margin: 30px 0;
  color: #6e757a;
  line-height: 1.8;
}

@media (max-width: 920px) {
  header article p {
    margin: 20px 0;
    text-shadow: 0 0 1px #314584;
  }
}

@media (max-width: 920px) {
  header article div {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

header article .btn {
  margin-right: 30px;
}

@media (max-width: 920px) {
  header article .btn {
    margin-bottom: 20px;
    margin-right: 0px;
  }
}

header aside.right {
  top: 0;
  transition: opacity 0.4s ease;
}

@media (max-width: 920px) {
  header aside.right {
    left: 0;
    opacity: 0.4;
  }
}

header aside.right img {
  height: auto;
}

/*************
ABOUT
*************/
.about {
  position: relative;
  overflow: hidden;
}

.about .container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

.about .container:first-of-type > div {
  flex: 0 0 31%;
  min-width: 320px;
}

@media (max-width: 1010px) {
  .about .container:first-of-type > div {
    flex: 1 0 100%;
    margin-bottom: 30px;
  }
}

@media (max-width: 920px) {
  .about .container:first-of-type > div.box {
    flex: 0 0 49%;
  }
}

.about .container:first-of-type > div.box div {
  flex: 1;
}

.about .container:first-of-type > div h3 {
  margin: 30px 0;
}

.about .container:first-of-type .btn {
  font-size: 0.9rem;
  margin-top: 15px;
}

.about .container:last-of-type div {
  flex: 0 0 48%;
}

.about .container:last-of-type img {
  width: 100%;
}

.about .container:last-of-type p {
  line-height: 1.8;
}

.about .container h2 {
  margin-bottom: 25px;
}

.about .container h5 {
  color: #ff3946;
}

/*************
PORTFOLIO
*************/
.portfolio {
  position: relative;
}

.portfolio aside {
  max-width: 100%;
}

.portfolio .row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  margin-bottom: 30px;
  text-align: center;
}

.portfolio .row.hiden {
  display: none;
}

.portfolio .row .wrapper {
  flex: 0 0 350px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.portfolio .row .wrapper::before {
  content: "";
  position: absolute;
  background-color: rgba(49, 69, 132, 0.8);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  height: 500px;
  width: 500px;
  border-radius: 50%;
  transition: transform 0.4s ease-in;
}

.portfolio .row .wrapper p {
  position: absolute;
  color: #ffffff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 200%);
  opacity: 0;
  transition: transform 0.4s ease;
  transition: opacity 0.2s ease-in, transform 0.2s ease-in;
}

.portfolio .row .wrapper:hover::before {
  transform: translate(-50%, -50%) scale(1);
}

.portfolio .row .wrapper:hover p {
  transform: translate(-50%, -50%);
  transition-delay: 0.2s;
  opacity: 1;
}

.portfolio .row > p {
  color: #ff3946;
  margin: 40px auto;
  transition: color 0.4s ease;
  cursor: pointer;
  font-weight: 600;
}

.portfolio .row > p:hover {
  color: #314584;
}

.portfolio .row img {
  width: 100%;
  height: 100%;
}

/**************
BLOG
**************/
.blog {
  position: relative;
}

.blog .owl-theme {
  margin-top: 30px;
  position: relative;
  padding-top: 50px;
}

.blog .owl-theme .owl-nav [class*="owl-"]:hover {
  background: none;
}

.blog aside {
  top: unset;
  bottom: 0;
  right: 0px;
  transform: translateY(50%);
}

.blog aside img {
  width: 100%;
  height: auto;
}

.blog .owl-nav {
  position: absolute;
  top: -10px;
  right: 0;
}

.blog .owl-nav button:hover {
  background: transparent;
  color: #314584;
}

.blog .owl-nav button i {
  color: rgba(110, 117, 122, 0.5);
  font-size: 2rem;
  transition: color 0.4s ease;
}

.blog .owl-nav button i:hover {
  color: #314584;
}

.blog .item {
  padding: 5px;
  background-color: #ffffff;
}

.blog .item .first {
  background-color: #ff3946;
  color: #ffffff;
}

.blog .item .first span {
  color: #ffffff;
}

.blog .box {
  min-height: 350px;
  max-width: 350px;
  padding: 50px 20px;
  box-shadow: 0px 0px 5px 0px rgba(28, 31, 33, 0.2);
  margin: 0 auto;
}

.blog h6 {
  text-transform: uppercase;
  margin-bottom: 15px;
}

.blog span {
  color: #6e757a;
  margin-bottom: 30px;
  font-size: 0.9rem;
}

.blog p {
  font-size: 1.2rem;
  line-height: 1.8;
}

/**************
CONTACT
**************/
.contact form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 40px;
}

.contact form input {
  flex: 0 0 49%;
  padding: 20px 20px;
}

.contact form textarea {
  flex: 0 0 100%;
  margin: 20px 0 50px;
}

.contact form *:not(button) {
  font-weight: 600;
  color: #314584;
  padding: 20px 20px;
  background-color: #f4fafe;
}

.contact form *::placeholder {
  color: rgba(49, 69, 132, 0.8);
}

.contact form .btn {
  margin: auto;
  font-size: 1.1rem;
  font-weight: 600;
}

/**************
FOOTER
**************/
footer {
  background-color: #314584;
  color: #ffffff;
  text-align: center;
}

footer h2 {
  text-transform: uppercase;
  color: #ff3946;
  font-size: 3rem;
  margin: 10px 0 20px;
}

footer ul {
  margin: 20px 0;
}

footer ul li {
  display: inline-block;
  padding: 20px;
}

footer .social {
  margin: 40px 0;
}

footer .social a {
  padding: 30px;
}

footer .social i {
  font-size: 2.5rem;
}
/*# sourceMappingURL=style.css.map */