h1 {
  font-size: 4.5rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 1.9rem;
}
h5 {
  font-size: 1rem;
}
p,
a {
  font-size: 1.1rem;
  font-weight: 400;
}
a {
  font-weight: 600;
  &:hover {
    color: $linkColor;
  }
}

.btn {
  display: inline-block;
  padding: 1em 2.5em;
  border: 2px solid $linkColor;
  border-radius: 2em;
  color: $white;
  background-color: $linkColor;
  transition: background-color $transition, color 0s;
  &:hover {
    background-color: $white;
    color: $textColor;
  }
}

.box {
  @include flex(flex-start, flex-start, column);
  box-shadow: $boxShadow;
  padding: 40px 45px;
  background-color: $white;
}
