h1 {
  font-size: 4.5rem;
  text-shadow: 0 0 2px $white;
  @media (max-width: 920px) {
    font-size: 3.5rem;
    text-align: center;
  }
}
h2 {
  font-size: 2.5rem;
  @media (max-width: 920px) {
    font-size: 2.3rem;
    text-align: center;
  }
}
h3 {
  font-size: 1.9rem;
  @media (max-width: 920px) {
    font-size: 1.7rem;
  }
}
h5 {
  font-size: 1rem;
  color: $linkColor;
  text-transform: uppercase;
  margin-bottom: 10px;
  @media (max-width: 920px) {
    text-align: center;
  }
}
h6 {
  font-size: 1rem;
}
p,
a {
  font-size: 1.1rem;
  font-weight: 400;
  @media (max-width: 920px) {
    font-size: 1rem;
  }
}
a {
  font-weight: 600;
  &:hover {
    color: $linkColor;
  }
}

.btn {
  display: inline-block;
  padding: 1em 2.5em;
  border: 2px solid $linkColor;
  border-radius: 2em;
  color: $white;
  background-color: $linkColor;
  transition: background-color $transition, color 0s;
  &:hover {
    background-color: $white;
    color: $textColor;
  }
}

.box {
  @include flex(flex-start, flex-start, column);
  box-shadow: $boxShadow;
  padding: 40px 45px;
  background-color: $white;
}

aside {
  z-index: -1;
  position: absolute;
  // overflow: hidden;
  img {
    max-height: 100%;
    max-width: 100%;
  }
  &.left {
    left: -20px;
    bottom: 0;
    top: 0;
  }
  &.right {
    right: 0px;
    top: 20%;
    bottom: 0;

    img {
      margin-left: auto;
    }
  }
}
