@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;600;700&display=swap");
$headings: "Work Sans", sans-serif;
$textFont: "Work Sans", sans-serif;
$fontSize: 16px;

$white: #ffffff;
$black: #000000;

$textColor: #314584;
$linkColor: #ff3946;
$gray: #6e757a;

$shadow: #1c1f21;

$transition: 0.4s ease;

$boxShadow: 0 10px 20px 0px rgba($shadow, 0.15);

$py: 50px 0;
$containerWidth: 100%;
