@import "var";
@import "mixins";
@import "basic";
@import "global";

section {
}

/**************
HEADER
**************/
header {
  position: relative;
  @media (max-width: 480px) {
  }
  nav {
    @include flex($y: center);
    padding-top: 60px;

    .brand {
      max-height: 30px;
      @media (max-width: 920px) {
        @include flex(space-between, center);
        width: 100%;
      }
    }
    .menu {
      @include flex;
      @media (max-width: 920px) {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        color: $white;
        background-color: rgba($textColor, 0.9);
        min-height: 100vh;
        transform-origin: right top;
        transition: transform $transition;
        transform: scale(0) rotate(90deg);
        z-index: 1;
      }
      &.active {
        transform: scale(1) rotate(0deg);
      }
      ul {
        @media (max-width: 920px) {
          @include flex(center, center, column);
          width: 100%;
        }
        li {
          display: inline-block;
          margin-right: 20px;
          @media (max-width: 920px) {
            margin-right: 0px;
          }
          a {
            @media (max-width: 920px) {
              line-height: 2;
              font-size: 2rem;
            }
          }
          &:last-child {
            margin-right: 0;
          }
          &:hover {
            color: $linkColor;
          }
        }
        &.active {
          transform: scale(1, 1);
        }
      }
      .lang {
        &::after {
          content: "\f0d7";
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
          margin-left: 10px;
          @media (max-width: 920px) {
            content: "\f0da";
          }
        }
      }
      .drop {
        position: relative;
        &:hover {
          ul {
            transform: scale(1, 1) translate(-50%, 0);
          }
        }
        ul {
          transform: scale(1, 0);
          transition: transform $transition;
          transform-origin: center top;
          position: absolute;
          background-color: $textColor;
          color: $white;
          width: 150px;
          right: 0;
          border-radius: 5px;
          @media (max-width: 920px) {
            display: block;
            position: absolute;
            transform-origin: left center;
            left: 50%;
            transform: scale(0, 1) translate(-50%, 0);
          }
          li {
            display: block;
            padding: 10px 15px;
            text-align: center;
            margin: 0;
            @media (max-width: 920px) {
              display: inline-block;
            }
          }
        }
      }
    }
    .contact-btn {
      @media (max-width: 920px) {
        display: none;
      }
      a {
        background-color: $white;
        padding: 20px 55px;
        box-shadow: $boxShadow;
        color: $linkColor;
        &:hover {
          color: $textColor;
        }
      }
    }
    a {
      font-weight: 700;
      font-size: 1.1rem;
    }

    .menuBtn {
      height: 30px;
      width: 30px;
      align-self: center;
      font-size: 1.8rem;
      background: transparent;
      color: $textColor;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color $transition, color $transition;
      display: none;
      z-index: 5;
      @media (max-width: 920px) {
        display: block;
      }
      &:hover {
        color: $linkColor;
      }
      &.active {
        position: fixed;
        right: 2.5%;
        color: $linkColor;
      }
    }
  }
  article {
    @include flex(stretch, center, column);
    min-height: 100vh;
    p {
      margin: 30px 0;
      color: $gray;
      line-height: 1.8;
      @media (max-width: 920px) {
        margin: 20px 0;
        text-shadow: 0 0 1px $textColor;
      }
    }
    div {
      @media (max-width: 920px) {
        text-align: center;
        @include flex(center, center, column);
      }
    }
    .btn {
      margin-right: 30px;
      @media (max-width: 920px) {
        margin-bottom: 20px;
        margin-right: 0px;
      }
    }
  }

  aside.right {
    top: 0;
    transition: opacity $transition;
    @media (max-width: 920px) {
      left: 0;
      opacity: 0.4;
    }
    img {
      height: auto;
    }
  }

  & > img {
    // z-index: -1;
    // position: absolute;
    // right: 0;
    // top: 0;
    @media (max-width: 705px) {
      // max-width: 100%;
      // left: 0;
    }
  }
}

/*************
ABOUT
*************/
.about {
  position: relative;
  overflow: hidden;
  .container {
    @include flex(space-between);
    &:first-of-type {
      & > div {
        flex: 0 0 31%;
        min-width: 320px;
        @media (max-width: 1010px) {
          flex: 1 0 100%;
          margin-bottom: 30px;
        }
        &.box {
          @media (max-width: 920px) {
            flex: 0 0 49%;
          }

          div {
            flex: 1;
          }
        }
        h3 {
          margin: 30px 0;
        }
      }
      .btn {
        font-size: 0.9rem;
        margin-top: 15px;
      }
    }

    &:last-of-type {
      div {
        flex: 0 0 48%;
      }
      img {
        width: 100%;
      }
      p {
        line-height: 1.8;
      }
    }
    h2 {
      margin-bottom: 25px;
    }
    h5 {
      color: $linkColor;
    }
  }
}

/*************
PORTFOLIO
*************/
.portfolio {
  position: relative;
  aside {
    max-width: 100%;
  }
  .row {
    @include flex(space-between);
    margin-bottom: 30px;
    text-align: center;
    &.hiden {
      display: none;
    }
    .wrapper {
      flex: 0 0 350px;
      cursor: pointer;
      position: relative;
      overflow: hidden;

      &::before {
        content: "";
        position: absolute;
        background-color: rgba($textColor, 0.8);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        height: 500px;
        width: 500px;
        border-radius: 50%;
        transition: transform 0.4s ease-in;
      }

      p {
        position: absolute;
        color: $white;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 200%);
        opacity: 0;
        transition: transform $transition;
        transition: opacity 0.2s ease-in, transform 0.2s ease-in;
      }

      &:hover {
        &::before {
          transform: translate(-50%, -50%) scale(1);
        }
        p {
          transform: translate(-50%, -50%);
          transition-delay: 0.2s;
          opacity: 1;
        }
      }
    }
    & > p {
      color: $linkColor;
      margin: 40px auto;
      transition: color $transition;
      cursor: pointer;
      font-weight: 600;
      &:hover {
        color: $textColor;
      }
    }
    img {
      width: 100%;
      height: 100%;
    }
  }
}

/**************
BLOG
**************/
.blog {
  position: relative;

  .owl-theme {
    margin-top: 30px;
    position: relative;
    padding-top: 50px;
    .owl-nav [class*="owl-"]:hover {
      background: none;
    }
  }
  aside {
    top: unset;
    bottom: 0;
    right: 0px;
    transform: translateY(50%);
    img {
      width: 100%;
      height: auto;
    }
  }
  .owl-nav {
    position: absolute;
    top: -10px;
    right: 0;

    button {
      &:hover {
        background: transparent;
        color: $textColor;
      }
      i {
        color: rgba($gray, 0.5);
        font-size: 2rem;
        transition: color $transition;
        &:hover {
          color: $textColor;
        }
      }
    }
  }

  .item {
    padding: 5px;
    background-color: $white;
    .first {
      background-color: $linkColor;
      color: $white;
      span {
        color: $white;
      }
    }
  }
  .box {
    min-height: 350px;
    max-width: 350px;
    padding: 50px 20px;
    box-shadow: $boxShadow;
    margin: 0 auto;
  }
  h6 {
    text-transform: uppercase;
    margin-bottom: 15px;
  }
  span {
    color: $gray;
    margin-bottom: 30px;
    font-size: 0.9rem;
  }
  p {
    font-size: 1.2rem;
    line-height: 1.8;
  }
}

/**************
CONTACT
**************/
.contact {
  form {
    @include flex;
    margin-top: 40px;
    input {
      flex: 0 0 49%;
      padding: 20px 20px;
    }
    textarea {
      flex: 0 0 100%;
      margin: 20px 0 50px;
    }
    *:not(button) {
      font-weight: 600;
      color: $textColor;
      padding: 20px 20px;
      background-color: $lightGray;
    }
    *::placeholder {
      color: rgba($textColor, 0.8);
    }
    .btn {
      margin: auto;
      font-size: 1.1rem;
      font-weight: 600;
    }
  }
}

/**************
FOOTER
**************/
footer {
  background-color: $textColor;
  color: $white;
  text-align: center;
  h2 {
    text-transform: uppercase;
    color: $linkColor;
    font-size: 3rem;
    margin: 10px 0 20px;
  }
  ul {
    margin: 20px 0;
    li {
      display: inline-block;
      padding: 20px;
    }
  }
  .social {
    margin: 40px 0;
    a {
      padding: 30px;
    }
    i {
      font-size: 2.5rem;
    }
  }
}
